CompileFlags:
  Add:
    
    - "-isystem"
    - "/home/jayzhang/Qt/6.11.0/gcc_64/include"
    - "-isystem"
    - "/home/jayzhang/Qt/6.11.0/gcc_64/include/QtCore"
    - "-isystem"
    - "/home/jayzhang/Qt/6.11.0/gcc_64/include/QtGui"
    - "-isystem"
    - "/home/jayzhang/Qt/6.11.0/gcc_64/include/QtWidgets"
    - "-isystem"
    - "/home/jayzhang/Qt/6.11.0/gcc_64/include/QtNetwork"